#timer{
    background-image: url('../../assets/imgs/clock.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@keyframes blinker {
    from { opacity: 0.0; }
    to { opacity: 1.0; }
  }
.blink {
    animation-name: blinker;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}