header {
    text-align: center;
    background-color: #ffffff;
    color: #009e22;
  }
  
  h1 {
    font-family: 'Cairo', sans-serif;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    animation: fadeInUp 1s ease-in-out;
    -webkit-animation: fadeInUp 1s ease-in-out;
}
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(30px); 
      font-size: 10px;
  
    }
    to {
      opacity: 1;
      transform: translateY(0);
      font-size: 48px;
    }
  }

  